<template>
    <div class="rick">
        <header class="rick__header">
            <h1 class="rick__header-title">
                The Rick and Morty API
            </h1>
        </header>
        <main class="rick__main">
            <div class="container">
                <div class="rick__main__filters">
                    <input class="rick__main__filters-input" v-model="filterName" placeholder="Name" />
                    <select class="rick__main__filters-input" v-model="filterStatus">
                        <option value="">All</option>
                        <option value="alive">Alive</option>
                        <option value="dead">Dead</option>
                        <option value="unknown">Unknown</option>
                    </select>
                    <button class="rick__main__filters-btn" @click="applyFilters">Применить</button>
                </div>
                <div class="rick__main__characters">
                    <div class="rick__main__characters-one" v-for="(character, index) in characters" :key="index">
                        <div class="rick__main__characters-one-image">
                            <img :src="character.image" alt="avatar">
                        </div>
                        <div class="rick__main__characters-one-info">
                            <h6 class="rick__main__characters-one-info-name">{{ character.name }}</h6>
                            <p class="rick__main__characters-one-info-status">
                                <span :class="['status-circle', character.status.toLowerCase()]"></span>
                                {{ character.status }} - {{ character.species }}
                            </p>
                            <p class="rick__main__characters-one-info-location">Last known location:
                                <span class="rick__main__characters-one-info-location-span">{{ character.location.name
                                    }}</span>
                            </p>
                            <p class="rick__main__characters-one-info-location">First seen in:
                                <span class="rick__main__characters-one-info-location-span">{{
                        character.firstEpisodeName }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button class="prev__btn pagination_btn" @click="prevPage"
                        :disabled="currentPage === 1">&#9754;</button>
                    <span>Page {{ currentPage }} of {{ totalPages }}</span>
                    <button class="next__btn pagination_btn" @click="nextPage"
                        :disabled="currentPage === totalPages">&#9755;</button>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
import axios from '../axios'
export default {
    data() {
        return {
            characters: [],
            currentPage: 1,
            totalPages: 1,
            filterName: '',
            filterStatus: ''
        }
    },
    methods: {
        async getCharacters(page = 1) {
            try {
                const name = this.filterName ? `&name=${this.filterName}` : '';
                const status = this.filterStatus ? `&status=${this.filterStatus}` : '';
                const response = await axios.get(`/character?page=${page}${name}${status}`);
                const characters = response.data.results;
                this.totalPages = response.data.info.pages;

                const characterPromises = characters.map(async character => {
                    const firstEpisodeUrl = character.episode[0];
                    const episodeResponse = await axios.get(firstEpisodeUrl);
                    character.firstEpisodeName = episodeResponse.data.name;
                    return character;
                });

                this.characters = await Promise.all(characterPromises);
                this.currentPage = page;
            } catch (error) {
                console.log(error);
            }
        },
        nextPage() {
            if (this.currentPage < this.totalPages) {
                this.getCharacters(this.currentPage + 1);
            }
        },
        prevPage() {
            if (this.currentPage > 1) {
                this.getCharacters(this.currentPage - 1);
            }
        },
        applyFilters() {
            this.getCharacters(1);
        },
    },
    mounted() {
        this.getCharacters()
    }
}
</script>

<style>
.container {
    max-width: 1120px;
    margin: 0 auto;
}

.rick__header {
    margin: 50px 0;
}

.rick__header-title {
    color: rgb(32, 35, 41);
    font-weight: 900;
    text-align: center;
    font-size: 50px;
}

.rick__main {
    background: rgb(39, 43, 51);
    padding: 50px 0;
}

.rick__main__filters {
    display: grid;
    grid-template-columns: 45% 25% 25%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.rick__main__filters-input {
    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
}

.rick__main__filters-btn {
    padding: 10px 0;
    border-radius: 10px;
}

.rick__main__characters {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
}

.rick__main__characters-one {
    display: grid;
    grid-template-columns: 35% 65%;
    background: rgb(60, 62, 68);
    border-radius: 9px;
}

.rick__main__characters-one-image {
    margin-right: 15px;
}

.rick__main__characters-one-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.rick__main__characters-one-info {
    padding: 10px 0;
}

.rick__main__characters-one-info-name {
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 5px;
}


.rick__main__characters-one-info-name:hover {
    color: rgb(255, 152, 0);
}

.rick__main__characters-one-info-status {
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}

.rick__main__characters-one-info-location {
    font-weight: 500;
    color: rgb(158, 158, 158);
    margin-bottom: 15px;
}

.rick__main__characters-one-info-location-span {
    display: block;
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
}

.status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.alive {
    background-color: rgb(85, 204, 68);
}

.dead {
    background-color: rgb(214, 61, 46);
}

.unknown {
    background-color: rgb(158, 158, 158);
}

.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.pagination_btn {
    border-radius: 4px;
}
</style>